name: Continuous Integration

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  action:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: pnpm/action-setup@v4
        with:
          version: 10.14.0
          run_install: false

      - uses: actions/setup-node@v3
        with:
          node-version: 22.14.0
          cache: pnpm
          registry-url: https://registry.npmjs.org

      - name: install dependencies
        run: pnpm install

      - name: Build
        run: pnpm build

      - name: test
        run: pnpm test

      - name: Publish @veebox/core
        if: github.ref == 'refs/heads/main'
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: |
          cd packages/core
          pnpm publish

      - name: Publish @veebox/vue
        if: github.ref == 'refs/heads/main'
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: |
          cd packages/vue
          pnpm publish
