name: Continuous Integration

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: pnpm/action-setup@v4
        with:
          version: 10.14.0
          run_install: false

      - uses: actions/setup-node@v3
        with:
          node-version: 22.14.0
          cache: pnpm

      - name: Build docs
        run: |
          cd apps/docs
          pnpm install
          pnpm build
